/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* #endregion common*/

.container{
    height: calc(100vh - 60px);
}
/* #region header*/
header{
    background-color: black;
    height: 45px;
}
.main_header{
    justify-content: flex-end;
    column-gap: 5px;
}
.view_options, .view_size{
    color: white;
    background-color: #7f7f80cf;
    padding: 4px;
    height: 25px;
    border-radius: 5px;
    margin: 8px 5px;
}
/* #endregion header*/

/* #region main*/
main{
    background-color: black;
    height: calc(100% - 45px);
    padding-bottom: 1rem;
    overflow-y: auto;
}
.img_win{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 8px;
    margin-top: 5px ;
    margin-bottom: 5px ;
}
.user{
    width: calc(100vw / 8);
    height: 115px;
    color: white;
    background-image: url("https://i.picsum.photos/id/28/186/120.jpg?hmac=gNprvTKKpoOOOEqf0koVr7AbtpHrZqglq8526fmhheg");
    text-align: center;
}
.img_text{
    align-self: end;
    background-color: #7f7f80cf;
}


/* #endregion main*/

/* #region footer*/
footer{
    background-color: #222222;
    height: 12vh;
    height: 60px;
    color: white;
}
.cl_15{
    float: left;
    width: 15%;
    color: white;
    justify-content: flex-start;
    align-items: center;
    height:100%;
    font-weight: 400;
}

.cl_70{
    float: left;
    width: 70%;
    color: white;
    justify-content: center;
    align-items: center;
    height:100%;
    font-weight: 400;
}
.cl_70>a, .cl_15>a{
    color: white;
    display: block;
    text-align: center;
    padding: 7px;
}
.cl_70>a>i:active{
    color: #4AC701;
}
.icons:before {
    font-size: x-large;
}
.fa-angle-up::before{
    font-size: x-small;
}
.btn{
    background-color: #4A4A4A;
}

.cl_15_right{
    float: left;
    width: 15%;
    color: #B23338;
    background-color: #4A4A4A;
    justify-content: center;
    align-items: center;
    height:100%;
    font-weight: 900;
}
.fa-video:active{
    color: red;
}
.cl_15_right:hover{
    cursor: pointer;
    color: red;
}
/* #endregion footer*/