/* #region common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
/* #endregion common*/

/* #region header*/
header{
    background-color: black;
    height: 11vh;
    min-height: 50px;
}


/* #endregion header*/

/* #region main*/
main{
    background-color: black;
    height: 80%;
    min-height: 120px;
}
.img_win{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 13px;
    margin: 5px 5rem;
}
.user{
    width: 186px;
    height: 120px;
    color: white;
    background-image: url("https://i.picsum.photos/id/28/186/120.jpg?hmac=gNprvTKKpoOOOEqf0koVr7AbtpHrZqglq8526fmhheg");
    text-align: center;
}
.img_text{
    align-self: end;
    background-color: #7f7f80cf;
}


/* #endregion main*/

/* #region footer*/
footer{
    background-color: #222222;
    height: 12vh;
    min-height: 60px;
}


/* #endregion footer*/